div#title {
  font-size: 32pt;
  margin: 10px;
  margin-bottom: 2px;
}

div#subtitle {
  font-size: 16pt;
  margin: 10px;
  margin-top: 0px;
}

div#runDetails {
  margin: 10px;
  font-size: 14pt;
}

div#root {
  margin: 10px;
}

div#incomplete {
  margin: 10px;
  font-size: 16pt;
  color: red;
}

div.iterationMeta {
  font-size: 12pt;
}

div.composotionContainer {
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
}

div.composotionMetaContainer {
  font-size: 10pt;
}

div.compositionTilingContainer {
  display: inline-block;
  background-color: #000000;
}

div.column {
  display: inline-block;
}

div.cell {
  width: 20px;
  height: 20px;
  margin: 1px;
  text-align: center;
  -webkit-print-color-adjust: exact;
}
