div.cell {
  width: 20px;
  height: 20px;
  border: solid #FFFFFF;
  border-width: 1px;
}

div.row {
  display: inline-block;
}

div.tilingContainer {
  display: inline-block;
  background-color: #000000;
  padding: 1px;
}
